.analysis {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0px 50px;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .analysis {
    grid-template-columns: auto;
    padding: 20px 0;
  }
}
