@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

:root {
  --fontPrimary: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--fontPrimary);
  font-family: "PT Sans", sans-serif;
}

.active {
  width: 100% !important;
  font-size: 36px !important;
  font-weight: bold !important;
  background-color: #94f794 !important;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25) !important;
}
