* {
  font-family: "Calibri", sans-serif !important;
}

.container {
  width: 665px;
  height: 620px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 13% 1% 72% 1% 13%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
}

hr {
  height: 2px;
  background-color: #d9d9d9;
  border: none;
}
