.home {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/stadium.jpg");
  background-size: cover;
}

.leaderBoard {
  width: 220px;
  height: 50px;
  color: #ffffff;
  background: #000000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  cursor: pointer;
  position: relative;
  left: calc(100% - 230px);
  top: 10px;
}

.leaderBoard:hover {
  color: #000000;
  background: #ffffff;
}

.leaderBoard:active {
  width: 218px;
  height: 49px;
  font-size: 29px;
  color: #101010;
  background: #efe9e9;
}

.introText {
  width: 1129px;
  height: 242px;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 121px;
  text-align: center;
  margin: 210px auto 30px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.startQuiz {
  width: 326px;
  height: 97px;
  margin: auto;
  color: #ffffff;
  background: #000000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  border: none;
  cursor: pointer;
}

.startQuiz:hover {
  color: #000000;
  background: #ffffff;
}

.startQuiz:active {
  width: 323px;
  height: 95px;
  font-size: 49px;
  color: #101010;
  background: #efe9e9;
}
