.leaderboard {
  width: 80vw;
  height: fit-content;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.header h1 span:first-child {
  font-size: 40px;
  font-weight: 700;
  color: #4169e1;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.header h1 span {
  font-size: 20px;
  font-weight: 400;
  color: red;
}

.table {
  margin: auto;
  width: 95%;
  /* border-collapse: collapse; */
}

.table th {
  padding: 10px;
  font-size: 30px;
  font-weight: 700;
}

.table td {
  font-size: 25px;
  font-weight: 400;
  padding: 15px;
  text-align: center;
}

.table th,
.table td {
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
}

.table tr:hover,
.table tr:active {
  background-color: #e5e5e5;
}

.rank {
  width: 15%;
}

.name {
  width: 55%;
}

.time {
  width: 15%;
}

.score {
  width: 15%;
}

.noDataAndError {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  font-size: 40px;
  font-weight: 700;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .leaderboard {
    width: 95vw;
  }

  .header h1 {
    font-size: 4.9vw;
  }

  .header h1 span:first-child {
    font-size: 4.9vw;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  }

  .header h1 span {
    font-size: 10px;
  }

  .table tr:nth-child(even) {
    background-color: #dddddd;
  }

  .leaderboard {
    padding: 10px;
  }

  .table th {
    font-size: 4.5vw;
  }

  .table td {
    font-size: 4vw;
  }
}
