.mainBody {
  width: 100%;
  min-height: 100vh;
  background-color: #25a4a4;
  display: grid;
  justify-content: center;
  align-content: center;
}

@media only screen and (max-width: 600px) {
  .mainBody {
    align-content: start;
  }
}
