.question {
  padding: 25px;
}

.question h1 {
  font-size: 30px;
  font-weight: bold;
}

.option {
  background-color: #d9d9d9;
  font-size: 35px;
  font-weight: normal;
  padding: 5px 35px;
  width: 99%;
  height: 53px;
  /* border-radius: 5px; */
  transition: all 0.5s;
}

.question h1,
.option {
  margin-bottom: 20px;
}

.option:hover {
  width: 100%;
  font-size: 36px;
  background-color: #94f794;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
}
