@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.resultContainer {
  display: grid;
  grid-template-columns: auto;
  width: 700px;
  height: 550px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
}

.header {
  display: flex;
  justify-content: space-evenly;
}

.headerText h1,
.headerText p {
  font-family: "Bebas Neue", sans-serif !important;
  font-size: 50px;
  text-align: center;
}

.headerText p {
  font-size: 30px !important;
}

.score {
  width: fit-content;
  margin: auto;
  text-align: center;
}

.score p,
.score h2 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.score h2 {
  font-size: 50px;
}

.score p {
  font-weight: 400;
}

.message {
  width: fit-content;
  font-size: 40px;
  margin: auto;
}

.buttons {
  width: 100%;
  display: flex;
  gap: 2px;
  justify-content: space-between;
  align-items: flex-end;
}

@media only screen and (max-width: 600px) {
  .resultContainer {
    width: 350px;
    height: 250px;
    padding: 5px;
  }

  .headerText h1,
  .headerText p {
    font-size: 26px;
  }

  .headerText p {
    font-size: 16px !important;
  }

  .score p,
  .score h2 {
    font-size: 20px;
  }

  .score h2 {
    font-size: 30px;
  }

  .message {
    font-size: 20px;
  }

  .buttons {
    gap: 1px;
  }

  .miniContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
