.textContainer {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-content: center;
  gap: 20px;
}

.introText {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  margin: auto;
}

.startQuiz,
.leaderBoard {
  width: 200px;
  color: #ffffff;
  background: #000000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  border: none;
  cursor: pointer;
}

.startQuiz:hover,
.leaderBoard:hover {
  color: #000000;
  background: #ffffff;
}

.startQuiz:active,
.leaderBoard:active {
  color: #101010;
  background: #efe9e9;
}

.leaderBoard {
  width: 250px;
}

.noUnderline {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .textContainer {
    /* border-radius: 5px; */
    background-size: cover;
    background-position: center;
  }

  .introText {
    font-size: 40px;
  }

  .startQuiz,
  .leaderBoard {
    width: fit-content;
    font-size: 25px;
    color: #000000;
    background: #ffffff;
    padding: 0 6px;
  }
}
